<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSection>
    <section name="nlog" type="NLog.NLogConfig.ConfigSectionHandler,NLog"/>
  </configSection>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logFileTarget"
              type="Common.Logging.NLog.CommonLoggingTarget, Common.Logging.NLog40"
              layout="${longdate}|${level:uppercase=true}|${message}"
              filename="C:\Logs\${date:format=yyyy-MM-dd}_EntityDalLogs.txt"
              createDirs="true"
              deleteOldFileOnStartup="true"
            />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logFileTarget" />
    </rules>
  </nlog>
</configuration>